:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 20px;

  input {
    flex: 0 0 45px;
  }

  li {
    padding: 10px 5px;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
